body {
    --heading-font: 'Ibarra Real Nova', serif;
    --body-font: 'Public Sans', sans-serif;

    --primary-color-cyan: #5fb4a2;
    --primary-color-blue: #203a4c;
    --primary-color-grayish-blue: #33323d;
    --secondary-color-bg: #fafafa;
    --secondary-color-input: #eaeaeb;
}

.hero-section img {
    width: 1110px;
    height: 500px;
}

.project {
    display: flex;
    justify-content: space-between;
    gap: 125px;

    width: 1110px;
    margin-top: 115px;
}

.information-project {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 350px;
    height: 498px;
    border-top: 1px solid hsla(245, 10%, 22%, 0.15);
    border-bottom: 1px solid hsla(245, 10%, 22%, 0.15);

    color: var(--primary-color-grayish-blue);
}

.information-project h2 {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.36px;

    margin-top: 48px;
}

.information-project p {
    margin: 29px 0 53px 0;

    font-family: var(--body-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: hsla(245, 10%, 22%, 0.8);
}

.area,
.languages {
    font-family: var(--body-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    color: var(--primary-color-cyan);
}

.languages {
    margin-top: 16px;
}

.button-visit-project {
    width: 175px;
    height: 48px;
    margin: 32px 0 48px 0;

    font-family: var(--body-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: var(--primary-color-grayish-blue);
    border-color: var(--primary-color-grayish-blue);
    background-color: var(--secondary-color-bg);
}

.button-visit-project:hover {
    cursor: pointer;

    color: var(--secondary-color-bg);
    background-color: var(--primary-color-grayish-blue);
}

main {
    width: 635px;
}

main h3 {
    margin-bottom: 28px;

    font-family: var(--heading-font);
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.29px;

    color: var(--primary-color-grayish-blue);
}

.description-project {
    margin-bottom: 40px;

    font-family: var(--body-font);
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;

    color: var(--primary-color-grayish-blue);
    opacity: 0.8;
}

.description-project span {
    text-decoration: underline;
}

.images-previews {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.images-previews img {
    height: 400px;
}

.links-projects {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1110px;
    height: 132px;
    margin-top: 64px;
    border-top: 1px solid hsla(245, 10%, 22%, 0.15);
    border-bottom: 1px solid hsla(245, 10%, 22%, 0.15);
}

.last-project,
.next-project {
    display: flex;
    align-items: center;
    gap: 32px;
}

.next-project {
    text-align: end;
}

.links-projects img {
    width: 8px;
    height: 16px;
}

.text-links span {
    font-family: var(--heading-font);
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.29px;

    color: var(--primary-color-grayish-blue);
}

.text-links p {
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: var(--primary-color-grayish-blue);
    opacity: 0.5;
}

.contato-section {
    margin-top: 115px;
}
